@tailwind base;
@tailwind components;
@tailwind utilities;
.slick-next {
    right: 35% !important;
    bottom: -18% !important;
    top: auto !important;
    cursor: pointer !important;
    width: unset !important;
    height: unset !important;
}

.slick-arrow.slick-prev {
    display: flex !important;
    justify-content: space-around !important;
}

.slick-prev {
    right: 35% !important;
    bottom: -18% !important;
    top: auto !important;
    cursor: pointer !important;
    width: unset !important;
    height: unset !important;
}

.slick-prev {
    left: 7% !important;
}

.slick-next:before,
.slick-prev:before {
    content: unset !important;
}