@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Aptly';
    src: url('/fonts/fonnts.com-Aptly.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.slick-next {
    right: 35% !important;
    bottom: -18% !important;
    top: auto !important;
    cursor: pointer !important;
    width: unset !important;
    height: unset !important;
}

.slick-arrow.slick-prev {
    display: flex !important;
    justify-content: space-around !important;
}

.slick-prev {
    right: 35% !important;
    bottom: -18% !important;
    top: auto !important;
    cursor: pointer !important;
    width: unset !important;
    height: unset !important;
}

.slick-prev {
    left: 7% !important;
}

.slick-next:before,
.slick-prev:before {
    content: unset !important;
}

.bg-body-tertiary {
    background-color: transparent !important;
}

.navbar-expand-lg .navbar-nav {
    margin: 0 !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    width: 100% !important;
}