.nav_bar {
    display: flex;
}

.flexed {
    display: flex;
    justify-content: space-between;
}

.nav_bar li {
    margin-right: 24px;
}

.logo {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 72px;
}